@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    /* 1rem = 16px; */
}
body{
    background-color:white;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
.next{
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.next > p{
    margin-top: 0.5rem;
}
.next select{
    border: none;
    outline: none;
}
.next .profile{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
hr{
    height: 0.1rem;
    color: gray;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 2rem;

    & > *{
        flex: 1;
    }
}
main .account-details, main .order-details{
    background-color: #eaecee;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 5rem;
    color: gray;
    margin-top: 0.8rem;
}
.list > span{
    font-weight: bold;
}

h4{
    font-size: 1rem;
    margin-top: 1rem;
}
.form{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.form label{
    display: block;
    color: gray;
   
}
.form input{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid gray;
    outline: none;
}
.logging{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}
p{
    font-size: 0.9rem;
    margin: 1;
}
button{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    outline: none;
    margin-bottom: 2rem;
}