@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* reset */
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    /* 1rem = 16px; */
}
body{
    background-color:white;
}

/* navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
}
nav .image{
    width: 3rem;
    height: 2rem;
}
.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
}
.next{
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.next > p{
    margin-top: 0.5rem;
}
.next select{
    border: none;
    outline: none;
}
.next .profile{
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
hr{
    height: 0.1rem;
    color: gray;
}
.main-container{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 2rem;

    /* & > *{
        flex: 1;
    } */
}
main .account-details, main .order-details{
    background-color: #F7FAFC;
    border-radius: 1rem;
}
.account-details{
    padding: 3rem;
}

.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: gray;
    margin-top: 0.8rem;
}
.list span{
    height: 1px;
    width: 25px;
    background-color: #3182ce;
    margin: 6px;
}
.list #blue{
    color: #3182ce;
}
.list img{
    width: 20px;
    height: 20px;
}
h4{
    font-size: 1rem;
    margin-top: 1rem;
}
.form{
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.form label{
    display: block;
    color: gray;
   font-size: 12px;
   margin-top: 10px;
}
.form input{
    width: 100%;
    padding: 15px;
    border: 1px solid gray;
    outline: none;
    margin-top: 10px;
    background-color: #e2e8f0;
    border-radius: 5px;
    border: none;
    background-image: url(./images/check.png);
    background-repeat: no-repeat;
    background-position: right 10px bottom 50%;
    background-size: 17px;
}
.logging{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.2rem;
}
.cancel-shipping{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
}
.logging, .cancel-shipping p{
    font-size: 13px;
    color: gray;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3182ce;
    color: white;
    cursor: pointer;
    outline: none;
}
.account-details hr{
    height: 1px;
    background-color: #eff3f7;
    margin-top: 70px;
    margin-bottom: 25px;
}
.calculation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}